body > header
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  height: 12rem
  padding: 5px
  background: $colorPrimary

  *, h1
    font-size: 3rem
    margin: 0
    padding: 0 0.5rem

  img
    height: 100%
    max-height: 5rem
