.wrapper > header
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: center
  text-align: center
  padding: 1em
  background: $colorSecondary
  border-bottom: 3px solid

  @media (min-width: $md)
    padding-right: 1em

  *, h1
    margin: 0
    padding: 0 0.5rem

  img
    height: 100%
    max-height: 5rem

  button.toggle
    @media (min-width: $md)
      display: none
