aside.menu
  position: fixed
  right: 0
  top: 0
  height: 100vh
  color: $contrastPrimary
  background-color: $contrastSecondary
  width: 75%
  max-width: 30em
  padding: $padding
  transform: translate(100%)
  transition: transform 222ms
  z-index: 2
  display: flex
  flex-flow: column
  justify-content: space-between

  h2, nav
    padding: $padding
    margin: 0
    border-bottom: 1px solid
    color: currentColor

  @media (min-width: $md)
    position: static
    transform: translate(0)

  &.open
    transform: translate(0)
    box-shadow: 0 0 2rem 0rem opacify($contrastSecondary, 0.75)

    @media (min-width: $md)
      box-shadow: none

  button.toggle
    position: absolute
    top: .5em
    left: 0
    transform: translate(-111%)
    padding: 0 1em

    @media (min-width: $md)
      display: none

  nav
    flex: 1
    overflow: auto
    margin-bottom: 1em

    ul
      margin: 0
      list-style: none

      a
        line-height: 3
        font-size: 1.5em
