// green
$colorPrimary:      #558b2f
//yellow
$colorSecondary:    #ffeb3b
$contrastPrimary:  lighten($colorSecondary, 30%)
$contrastSecondary: darken($colorPrimary, 30%)

//mobile first:
//everything without media query works for mobile
$md: 40rem
$lg: 80rem
$xl: 120rem

// LIBRARIES
// @import "milligram.min"
@import "amazium"

//CUSTOM milligram
// @media (min-width: $md)
//   .row
//     margin: 0
//
//     .column
//       padding: 0
//
// .button, button, input[type='button'], input[type='reset'], input[type='submit']
//   background-color: $colorPrimary
//   border: 0.1rem solid $colorPrimary
//   color: #fff

// GENERAL
body.root
  margin: 0
  padding: 0
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif
  color: $colorPrimary
  background: #F5F5F5

  @media (min-width: $md)
    flex-flow: row-reverse nowrap

  h1, h2, h3, h4
    padding-top: 1em

  a
    //increase click size
    padding: 1em
    margin: -1em

    @media (min-width: $md)
      padding: inherit
      margin: inherit

      &:focus, &:hover
        color: darken($colorPrimary, 10%)
        background: white

  blockquote
    margin: 1em
    padding: 1em
    border-left: solid #ddd 0.5em

  p
    line-height: 2

    img
      max-width: 100%

  .wrapper
    padding: 0
    height: 100vh
    overflow: auto

    main
      padding: 1rem
      max-width: 60em
      margin: 0 auto

  // MODULES
  @import "header"
  @import "sidemenu"
