$colorPrimary: #ffeb3b

@import "reset"
@import "milligram.min"
@import "header"
@import "sidemenu"

body
  padding: 1rem

  h1, h2, h3, h4
    padding-top: 1em

  li
    list-style-position: outside
    margin-left: 2em
